body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.main {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.accordion {
  max-width: 720px;
  background-color: #ffffff;
  padding: 24px;
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

.accordion__content {
  height: 0;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #3c3c43;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.accordion__button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.accordion__button:hover {
  color: blue;
}

.active {
  height: auto;
  margin-top: 18px;
}
